{
  "openapi": "3.1.0",
  "info": {
    "title": "YTRSS API",
    "description": "API for converting YouTube videos to audio files",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://ytrss.xyz/api/v1"
    }
  ],
  "paths": {
    "/convert": {
      "post": {
        "summary": "Convert YouTube videos to audio",
        "description": "Submit one or more YouTube URLs for conversion to audio files",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "urls"
                ],
                "properties": {
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "An array of one or more YouTube video URLs to convert",
                    "example": [
                      "https://www.youtube.com/watch?v=dQw4w9WgXcQ",
                      "https://www.youtube.com/watch?v=jNQXAC9IVRw"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Conversion jobs created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "batch_id": {
                      "type": "string",
                      "description": "Unique identifier for this batch of conversion jobs",
                      "example": "batch_abc123xyz"
                    },
                    "message": {
                      "type": "string",
                      "description": "Status message describing the result",
                      "example": "Conversion jobs created successfully"
                    },
                    "jobs": {
                      "type": "array",
                      "description": "Array of job objects representing each conversion task",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Job ID used to poll status and download the converted content",
                            "example": "job_def456uvw"
                          },
                          "url": {
                            "type": "string",
                            "description": "The original YouTube URL being converted",
                            "example": "https://www.youtube.com/watch?v=dQw4w9WgXcQ"
                          },
                          "status": {
                            "type": "string",
                            "description": "Current job status. Will always be CREATED in the initial response",
                            "example": "CREATED"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/poll/job/{jobId}": {
      "get": {
        "summary": "Get Job Status",
        "description": "Get the current status and details of a specific conversion job",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the job to retrieve",
            "example": "job_xyz789"
          }
        ],
        "responses": {
          "200": {
            "description": "Job status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique identifier for the job",
                      "example": "job_xyz789"
                    },
                    "url": {
                      "type": "string",
                      "description": "The YouTube URL being converted",
                      "example": "https://youtube.com/watch?v=dQw4w9WgXcQ"
                    },
                    "status": {
                      "type": "string",
                      "description": "Current job status (CREATED, STARTED, PROCESSING, SUCCESS, ERROR)",
                      "example": "SUCCESS",
                      "enum": [
                        "CREATED",
                        "STARTED",
                        "PROCESSING",
                        "SUCCESS",
                        "ERROR"
                      ]
                    },
                    "download_endpoint": {
                      "type": "string",
                      "description": "Endpoint to download the converted file (only present when status is SUCCESS)",
                      "example": "/api/v1/download/job_xyz789"
                    },
                    "video_metadata": {
                      "type": "object",
                      "description": "Video metadata (only present when status is SUCCESS)",
                      "properties": {
                        "title": {
                          "type": "string",
                          "description": "Video title",
                          "example": "Rick Astley - Never Gonna Give You Up"
                        },
                        "description": {
                          "type": "string",
                          "description": "Video description",
                          "example": "The official video for Rick Astley's 1987 hit..."
                        },
                        "duration": {
                          "type": "integer",
                          "description": "Video duration in seconds",
                          "example": 213
                        },
                        "video_id": {
                          "type": "string",
                          "description": "YouTube video ID",
                          "example": "dQw4w9WgXcQ"
                        },
                        "size": {
                          "type": "integer",
                          "description": "File size in bytes",
                          "example": 5242880
                        }
                      }
                    },
                    "title": {
                      "type": "string",
                      "description": "Video title",
                      "example": "Rick Astley - Never Gonna Give You Up"
                    },
                    "created": {
                      "type": "string",
                      "description": "Job creation timestamp",
                      "example": "2024-01-15T10:05:00Z"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/poll/batch/{batchId}": {
      "get": {
        "summary": "Get Batch Status",
        "description": "Get the status and details of all jobs in a batch",
        "parameters": [
          {
            "name": "batchId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the batch to retrieve",
            "example": "batch_xyz789"
          }
        ],
        "responses": {
          "200": {
            "description": "Batch status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "batch_id": {
                      "type": "string",
                      "description": "Unique identifier for the batch",
                      "example": "batch_xyz789"
                    },
                    "finished": {
                      "type": "boolean",
                      "description": "Whether all jobs in the batch are complete",
                      "example": false
                    },
                    "jobs": {
                      "type": "array",
                      "description": "Array of job objects representing each conversion task",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Job ID used to poll status and download the converted content",
                            "example": "job_abc123"
                          },
                          "url": {
                            "type": "string",
                            "description": "The original YouTube URL being converted",
                            "example": "https://youtube.com/watch?v=dQw4w9WgXcQ"
                          },
                          "status": {
                            "type": "string",
                            "description": "Current job status (CREATED, STARTED, PROCESSING, SUCCESS, ERROR)",
                            "example": "SUCCESS",
                            "enum": [
                              "CREATED",
                              "STARTED",
                              "PROCESSING",
                              "SUCCESS",
                              "ERROR"
                            ]
                          },
                          "download_endpoint": {
                            "type": "string",
                            "description": "Endpoint to download the converted file (only present when status is SUCCESS)",
                            "example": "https://ytrss.xyz/v1/download/job_abc123"
                          },
                          "video_metadata": {
                            "type": "object",
                            "description": "Video metadata (only present when status is SUCCESS)",
                            "properties": {
                              "title": {
                                "type": "string",
                                "description": "Video title",
                                "example": "Never Gonna Give You Up"
                              },
                              "description": {
                                "type": "string",
                                "description": "Video description",
                                "example": "The official video for Rick Astley's 1987 hit..."
                              },
                              "duration": {
                                "type": "integer",
                                "description": "Video duration in seconds",
                                "example": 213
                              },
                              "video_id": {
                                "type": "string",
                                "description": "YouTube video ID",
                                "example": "dQw4w9WgXcQ"
                              },
                              "size": {
                                "type": "integer",
                                "description": "File size in bytes",
                                "example": 3456789
                              }
                            }
                          }
                        }
                      }
                    },
                    "counts": {
                      "type": "object",
                      "description": "Count of jobs by status",
                      "properties": {
                        "pending": {
                          "type": "integer",
                          "description": "Number of jobs waiting to be processed",
                          "example": 1
                        },
                        "processing": {
                          "type": "integer",
                          "description": "Number of jobs currently processing",
                          "example": 1
                        },
                        "success": {
                          "type": "integer",
                          "description": "Number of jobs that have completed successfully",
                          "example": 1
                        },
                        "error": {
                          "type": "integer",
                          "description": "Number of jobs that failed",
                          "example": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/download/{jobId}": {
      "get": {
        "summary": "Download converted audio",
        "description": "Download the converted audio file for a completed job. The download is only available when the job status is SUCCESS.",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the completed job",
            "example": "abc123xyz"
          }
        ],
        "responses": {
          "200": {
            "description": "Audio file download - returns the video file as a binary blob with the appropriate content type (e.g., video/mp4, audio/mp3)",
            "content": {
              "audio/mpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "video/mp4": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    }
  }
}